<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="google-site-verification" content="Ja__w8f-yzSQ3B_DLR77M5mEC0Njioja6KC7InmE_kM" />
    <title>SFCC &mdash; San Francisco Cycling Club</title>
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,900italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/style.css" type="text/css" />
</head>
<body class='{{type}}'>

    {{{body}}}

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/instagram.js"></script>
</body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41492895-1', 'sfcycle.org');
  ga('send', 'pageview');

</script>