{{>header}}

<article>

	<h2>About the Club</h2>

	<p>San Francisco Cycling Club is for the cyclist who loves to race and ride hard for fun.</p>
	
	<p>Our goal is to bring cyclists together to ride together, to race together, to sell and buy each other's 
		stuff, to share advice and talk about sunglasses over coffee or a beer.</p>
	
	<p>We're non-exclusive and non-binding. Anyone can join and anyone can join anything else too. Being part of
		SFCC doesn't preclude you joining a racing team or a social club.</p>

	<h3>Executive</h3>

	<ul>
		<li><strong>President</strong>: Jim Whimpey</li>
		<li><strong>Vice President</strong>: Alejandro Villarreal</li>
	</ul>
	
</article>