{{>header}}

<article>

	<h2>About the Club</h2>

	<p>Our goal is to bring cyclists together to ride, race, 
		share advice, and talk about sunglasses over a post-ride espresso or beer.</p>
		
	<p>We value:</p>

	<ul>
		<li>Fun</li>
		<li>Competition</li>
		<li>Openness</li>
		<li>Inclusiveness</li>
		<li>Community</li>
	</ul>
	
	<p>If this sounds good to you, join us on <a href="/rides-calendar">a ride</a> and think about 
		<a href="/membership">becoming a member</a>.

	<h3>Internet Presence</h3>
	
	<ul>
		<li><a href="https://twitter.com/sfcyclingclub">Twitter</a>: where we announce rides and link to interesting things</li>
		<li><a href="http://instagram.com/sfcyclingclub">Instagram</a>: where we post photos from rides and races</li>	
		<li><a href="https://www.facebook.com/sfcyclingclub">Facebook</a>: where we post upcoming rides and photos</li>
	</ul>
	
	<h3>Sister Club</h3>
	
	<p>We have a sister club relationship with the <a href="http://uqcycle.com/">University of Queensland Cycling Club</a> 
		based in Brisbane, Australia. Members of each club can participate in the events of the other, join in on rides 
		and races as well as purchase each other's kits.</p>

	<h3>Executive</h3>

	<ul>
		<li><strong>President and Secretary</strong>: Jim Whimpey</li>
		<li><strong>Vice President and Treasurer</strong>: Alejandro Villarreal</li>
	</ul>
	
</article>
