{{>header}}

<article>

	<h2>Calendar</h2>

	<p>All our upcoming events. You can subscribe to the calendar to have new events and updates automatically 
		appear in your calendaring application of choice using <a href="">this link</a>.
	
</article>