{{>header}}

<article>

	<h2>Calendar</h2>

	<p>All our upcoming events. 
		
	<p>You can <a href="https://www.google.com/calendar/ical/ktihar6uvc0lc1odtovk41fklo%40group.calendar.google.com/public/basic.ics">subscribe to the calendar</a> to have new events and updates automatically 
		appear in your calendaring application of choice or <a href="https://www.google.com/calendar/embed?src=ktihar6uvc0lc1odtovk41fklo@group.calendar.google.com&ctz=America/Los_Angeles">
		view the full calendar</a>.</p>
		
	<p>Check out our <a href="/rides">rides page</a> for more information about regular riding events.</p>
	
	<ul class='calendar'>
		{{#each calendar}}
			<li>
				<h3>{{this.title}}</h3>
				{{#if this.where}}
					<p class='where'>{{this.where}}</p>
				{{/if}}
				<p class='when'>{{this.date}}</p>
			</li>
		{{/each}}
	</ul>
	
</article>