{{>header}}

<article>

	<h2>Contact</h2>

	<p>By far the best way to contact us is to come along to one of <a href='/rides'>the rides</a>, followed closely 
		by talking to us via <a href='/forum'>the forum</a>. But otherwise:</p>
		
	<p><strong>Jim Whimpey</strong>, President</p>
	
	<ul>
		<li><a href='mailto:email'>email@email.com</a></li>
		<li><a href='http://twitter.com/jimwhimpey'>@jimwhimpey on Twitter</a></li>
		<li><a href='http://flickr.com/jimwhimpey'>jimwhimpey on Flickr</a></li>
		<li><a href='http://app.strava.com/athletes/123529'>On Strava</a></li>
		<li><a href='http://jimwhimpey.com'>On the web</a></li>
	</ul>
	
	<p><strong>Alejandro Villarreal</strong>, Vice President</p>
	
	<ul>
		<li><a href='mailto:email'>email@email.com</a></li>
		<li><a href='http://twitter.com/jandrosaurus'>@jandrosaurus on Twitter</a></li>
		<li><a href='http://instagram.com/jandrosaurus'>jandrosaurus on Instagram</a></li>
		<li><a href='http://app.strava.com/athletes/66740'>On Strava</a></li>
	</ul>

	

</article>