{{>header}}

<article>

	<h2>Contact</h2>

	<p>By far the best way to contact us is to come along to one of <a href='/rides'>the rides</a>, followed closely
		by talking to us via <a href='/forum'>the forum</a>. But otherwise:</p>

	<p><strong>Ryan Schaub</strong>, President</p>

	<ul>
		<li><script type="text/javascript">
//<![CDATA[

function hiveware_enkoder(){var i,j,x,y,x=
"x=\"$G,-:=H%25f,G$>AqA?A@Ao\\\"=x>===BCA;=o>Ax=\\\"\\\\}B'%22E*7:B>A@Bp=?B" +
"pADA=BBBC=@A?B<An@nADA<Al>qA?B<ADB=B>B;?pADBnA=BqAp===n@BADB=A@AoA==nBnA>A" +
"qApAAADAnA>A>ABApA=A@>;?pA<A>AAA>BnA>ADBBApADA@Aq=m>D===F-:=m>;>qF22H&;BpH" +
"6tpy%22H6&3p{==An>BA=Bp><-::FHt3}zw9%25GtFFs!ryp(4=56202}!~m%22~44=7t3%25E" +
"f,&ozGs2|yp8$FsE:r~qxovln~9%2t2psE;5t3<G$E11Gkm}ox!E3$2*77355sErm8$GtonyM|" +
"k73s2~Kxs|~]Gwy|p8qyM|krM)3t2on%2$8voxq~rEs5G@3*7=F5%25E>CG77tHGs5,E%25G11" +
"Epy|2sG:EsF2tGWk~r8wsx2$8voxq~r6s5@3Ek|K~2t3E))%25E*7:C#E//7py|E8CqD%226tm" +
"vE3*77%255G$8mrn0C%22E}vm{kixm0%221Cnwz0q%25rE%226kpizKwlmI|0q15:Cqvo6nzwu" +
"KpizKwlm0r1o|pCq331-nB5@nA}rD;:1r3EA<C#3E[|zq7#'@~B,,@}Bzsjxhfuj-}.@ktw%22" +
"oB}3hmfwHtijFy-n.28@n*73kwtrHmfwHtij-3qjslym@n00.;i<xk-oA87.o0B>9@~0BXywns" +
"ly='';x=unescape(x);for(i=0charCodeAt(i)-5;if(o.$~\\\"\\\\;arCode(j).lengt" +
"h;i++){j=x.<32)j+=94;y+=String.fromChgnel.x<i;0=i(rof;''=y;\\\"}yjx(nim.ht" +
"aM=j(rof{)63=+i;ht=+y{);i=>j--;)63+i,htgnel.;y}};)j(tArahc.x\";y='';for(i=" +
"0;i<x.length;i+=26){for(j=Math.min(x.length,i+26);--j>=i;){y+=x.charAt(j);" +
"}}y;";
while(x=eval(x));}hiveware_enkoder();

//]]>
</script></li>
		<li><a href='http://instagram.com/ryanschaub'>@ryanschaub on Instagram</a></li>
		<li><a href='http://www.strava.com/athletes/594471'>On Strava</a></li>
	</ul>

	<p><strong>Mark Smethers</strong>, Treasurer</p>

	<ul>
		<li><script type="text/javascript">
//<![CDATA[

function hiveware_enkoder(){var i,j,x,y,x=
"x=\"783d22315b783d5c22333832373461315d333733323633337035323933783d33363637" +
"3262365c5c5c22373333333738333336383236363364323333653733393332333336333736" +
"36363535363933333433333632373336333636363533373637333634373633333633333732" +
"32383333333333363336373636333932333333353333366333323733363636333332343533" +
"36393237333336333335393362323335333336333736323635643732333635333332395c5c" +
"5c22363637333b36353334363337793d2736333236333636273b3233353366333733373633" +
"376f722832333733333336693d3336373330333733323333323b693c35333633363633782e" +
"363339336c33323337363331656e67323334333333337468333636333b3635333535333269" +
"2b3d363332333336343229323338337b33363332323339792b3d31333233333337756e3336" +
"33366533323333323333736361363336333336327065303331332833343332333632272527" +
"303330333233372b78323336332e3333333862373973756236333733333336737464323233" +
"723336333637323728692c3333353333333732296236363329333933363636663b7d795c22" +
"333336373b6a3d653232343376616c2835383639782e636836333333617241746433323328" +
"302929323033623b783d78333636362e73756239333433737472283663373831293b793331" +
"33323d27273b65363633666f722839633635693d303b33363636693c782e653633336c656e" +
"673737373474683b69333433362b3d3629383336367b792b3d36623639782e737533333632" +
"627374726233313328692c3336643332293b7d66363433326f722869393736333d333b6931" +
"6237393c782e6c33373332656e677462333233683b692b366437353d36297b36323336792b" +
"3d78653634332e737562303537337374722833373336692c3329333633333b7d793d363137" +
"30792e7375333633366273747235323633286a293b223b6a3d6576616c28782e6368617241" +
"74283029293b783d782e7375627374722831293b793d27273b666f7228693d303b693c782e" +
"6c656e6774683b692b3d38297b792b3d782e73756273747228692c34293b7d666f7228693d" +
"343b693c782e6c656e6774683b692b3d38297b792b3d782e73756273747228692c34293b7d" +
"793d792e737562737472286a293b\";y='';for(i=0;i<x.length;i+=2){y+=unescape('" +
"%'+x.substr(i,2));}y";
while(x=eval(x));}hiveware_enkoder();

//]]>
</script></li>
		<li><a href='http://instagram.com/marksmethers'>@marksmethers on Instagram</a></li>
		<li><a href='http://www.strava.com/athletes/956555'>On Strava</a></li>
	</ul>

	<p><strong>Alejandro Villarreal</strong>, Engagement Director</p>

	<ul>
		<li><script type="text/javascript">
//<![CDATA[

function hiveware_enkoder(){var i,j,x,y,x=
"x=\"783d227c4126383b373a693a6a3a353a383a653a602660603a39417c3a675930366026" +
"417c3d3b3b3b373b693a3a36383a373b693b343a39386a3a683a363a393b673a673a373736" +
"3a3b363c3a6936393a3d3a383a673b3d3a373a363a673968373b373a3a363a393b6a3a363a" +
"693b3c36363a343a3936353b343a3837663b67373d3a3d36363a3536693a6837353a363a6a" +
"3667363a352c763a65736a3a393f2b3a672b413a357d3f3a656026606066376a373a3a6c78" +
"3a376b723b346970386a327c3a36406d3b383f343a69416d3a3b77693a6972793a3d412f3a" +
"677d213a372d363a3d412f3b376d3f3a3666793b6a77323a697c2f36362b293a392b2c3b67" +
"69743a3765677a69416e3f60267d233a353f2d3a692d363736306d36672c76393b7877352c" +
"767877667977327c417c3f2d2d342c784576656c67327c2c70652f6d3f6c786b726970327c" +
"406d3f34416d2c76736a3f2b2b417d3f2d416d2c76736a233f2d36306d2c76787766797732" +
"7c412f7d212d384177667977327c412f7d212d38412f6d3f6c786b726970327c406d3f363f" +
"2d6e2c767877667977327d417d233f2d36306d2c7678263f7d412b2b3f6a73762c6d41343f" +
"6d407c327069726b786c3f6d2f41363c2d216a73762c6e415165786c32716d722c7c327069" +
"726b786c306d2f363c2d3f31316e42416d3f2d217d2f417c32676c657645782c6e2d3f2323" +
"7d3f223b793d27273b783d756e6573636170652878293b666f7228693d303b693c782e6c65" +
"6e6774683b692b2b297b6a3d782e63686172436f646541742869292d343b6966286a3c3332" +
"296a2b3d39343b792b3d537472696e672e66726f6d43686172436f6465286a297d79\";y='" +
"';for(i=0;i<x.length;i+=2){y+=unescape('%'+x.substr(i,2));}y";
while(x=eval(x));}hiveware_enkoder();

//]]>
</script></li>
		<li><a href='http://twitter.com/jandrosaurus'>@jandrosaurus on Twitter</a></li>
		<li><a href='http://instagram.com/jandrosaurus'>jandrosaurus on Instagram</a></li>
		<li><a href='http://app.strava.com/athletes/66740'>On Strava</a></li>
	</ul>

	<p><strong>Nolan Semrau</strong>, Operations Director</p>

	<ul>
		<li><script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
"=48){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return o" +
".substr(0,ol);}f(\")69,\\\"dnfuyd8wk1';}0$<,)#%')0+!5500\\\\*\\\"\\\\...100" +
"\\\\430\\\\a[IU720\\\\ZBZVS][]SVMK_kDHDHH700\\\\x630\\\\GMTvj=>G}kw9t`xpu77" +
"1\\\\ycmtomyIffjjj9mul720\\\\430\\\\120\\\\Y&D630\\\\220\\\\400\\\\530\\\\T" +
"220\\\\NSX100\\\\200\\\\010\\\\030\\\\200\\\\030\\\\630\\\\F320\\\\010\\\\0" +
"00\\\\t\\\\620\\\\100\\\\610\\\\400\\\\\\\"(f};o nruter};))++y(^)i(tAedoCra" +
"hc.x(edoCrahCmorf.gnirtS=+o;721=%y;2=*y))y+69(>i(fi{)++i;l<i;0=i(rof;htgnel" +
".x=l,\\\"\\\"=o,i rav{)y,x(f noitcnuf\")"                                    ;
while(x=eval(x));
//-->
//]]>
</script>
</li>
		<li><a href='https://www.instagram.com/nolan_.s/'>@nolan_.s on Instagram</a></li>
		<li><a href='https://www.strava.com/athletes/301908'>On Strava</a></li>
	</ul>

	<p><strong>Tom Hood</strong>, Community Director</p>

	<ul>
		<li><script type="text/javascript">
//<![CDATA[
<!--
var x="function f(x){var i,o=\"\",l=x.length;for(i=0;i<l;i+=2) {if(i+1<l)o+=" +
"x.charAt(i+1);try{o+=x.charAt(i);}catch(e){}}return o;}f(\"ufcnitnof x({)av" +
" r,i=o\\\"\\\"o,=l.xelgnhtl,o=;lhwli(e.xhcraoCedtAl(1/)3=!05{)rt{y+xx=l;=+;" +
"lc}tahce({)}}of(r=i-l;1>i0=i;--{)+ox=c.ahAr(t)i};erutnro s.buts(r,0lo;)f}\\" +
"\"(0)\\\\,C\\\"MG\\\\\\\\\\\\\\\\MV23\\\\0^\\\\0L01\\\\\\\\34\\\\02\\\\00\\" +
"\\\\\\tB\\\\\\\\37\\\\05\\\\00\\\\\\\\13\\\\00\\\\00\\\\\\\\10\\\\04\\\\01\\"+
"\\\\\\10\\\\00\\\\00\\\\\\\\33\\\\02\\\\00\\\\\\\\06\\\\0,\\\\36\\\\00\\\\/" +
"3{d04\\\\00\\\\:$1z='(3$ ( *34.06\\\\0(\\\\7+5`03\\\\\\\\Z}IROU32\\\\03\\\\" +
"03\\\\\\\\PdZD32\\\\0Q\\\\]GHSD@H@JSTNHfWK30\\\\0N\\\\sT|w9q$Fr~}dr43.a8hbb" +
"x~xs&`hvina\\\\d(\\\"}fo;n uret}r);+)y+^(i)t(eAodrCha.c(xdeCoarChomfrg.intr" +
"=So+7;12%=;y++)y<0(iif){++;i<l;i=0(ior;fthnglex.l=\\\\,\\\\\\\"=\\\",o iar{" +
"vy)x,f(n ioctun\\\"f)\")"                                                    ;
while(x=eval(x));
//-->
//]]>
</script>
</li>
		<li><a href='https://www.instagram.com/hoodisgood/'>@hoodisgood on Instagram</a></li>
		<li><a href='https://www.strava.com/athletes/1585243'>On Strava</a></li>
	</ul>

</article>

