{{>header}}

<article>

	<h2>Contact</h2>

	<p>By far the best way to contact us is to come along to one of <a href='/rides'>the rides</a>, followed closely 
		by talking to us via <a href='/forum'>the forum</a>. But otherwise:</p>
		
	<p><strong>Jim Whimpey</strong>, President and Secretary</p>
	
	<ul>
		<li><script type="text/javascript">
//<![CDATA[

function hiveware_enkoder(){var i,j,x,y,x=
"x=\"783d22383c383e383b3837383c383c383c383a3b373839383c383a3b3b383a383b3839" +
"3b3b383a383c3838383b383b3b3b3839383b38373769383d3c27427d5c223d783b3836383b" +
"38393b3b3837383738383b3a38393b38383b383b383a383b3837383c383d383b3835383738" +
"36383b38383b3838373837383d3837383a383b3839383e383b38383b3b3838383b383e383c" +
"3838383b383b383b3838383c3835383938393b3b383e383b38363b3b38363b38383b3b3b38" +
"39383c38383b3b383e38393b3b383e383b38363b3b383a3b383837383738383b3a383c383b" +
"3837383c383b3b3b383a3b373837383b383a383c38383b3b3838383b383c383b383a3b3b3b" +
"3b383a3b373837383b383a383c38383b3b3838383b383c383b383a3b3b383e383b38383b3b" +
"3838383b383e383c3838383b383b383b3838383c38353839386b3b3b3b67383c373c376938" +
"3e3c67383737373b383835383838373b38383e383738373837383a3b383836383b383b3b37" +
"38383b38383c383b3837383c383b3b383b383c3a3b6a3b3a3c693867373e3c673c3e373738" +
"693867373e3b67383d3b393c3c3b6a3b3a3b683b6a373d3c68383e3b6738353869383e3b3d" +
"37373c35426e2d77746b402c2c427e40273e3c693c67383e373e37373868373e3b3d37373c" +
"393c383c373b3a3c383c6a373d3c67373c373a373c373d373a3b353c36753d783b27273d79" +
"3b5c227e24402e2e37316e2d777978677a78337d302c2a2c2d6a756668786a737a42307e32" +
"32252e3742306e406d796c736a71337d416e402932333c6a2866693b352d29692874416564" +
"6f43726168632e783d6a7b292b2b693b6874676e656c2e783c693b303d6928726f663b2978" +
"286570616373656e797d296a2865646f43726168436d6f72662e676e697274533d2b793b34" +
"393d2b6a223b793d27273b666f7228693d303b693c782e6c656e6774683b692b3d3633297b" +
"666f72286a3d4d6174682e6d696e28782e6c656e6774682c692b3633293b2d2d6a3e3d693b" +
"297b792b3d782e636861724174286a293b7d7d793b\";y='';for(i=0;i<x.length;i+=2)" +
"{y+=unescape('%'+x.substr(i,2));}y";
while(x=eval(x));}hiveware_enkoder();

//]]>
</script></li>
		<li><a href='http://twitter.com/jimwhimpey'>@jimwhimpey on Twitter</a></li>
		<li><a href='http://flickr.com/jimwhimpey'>jimwhimpey on Flickr</a></li>
		<li><a href='http://app.strava.com/athletes/123529'>On Strava</a></li>
		<li><a href='http://jimwhimpey.com'>On the web</a></li>
	</ul>
	
	<p><strong>Alejandro Villarreal</strong>, Vice President and Treasurer</p>
	
	<ul>
		<li><script type="text/javascript">
//<![CDATA[

function hiveware_enkoder(){var i,j,x,y,x=
"x=\"783d227c4126383b373a693a6a3a353a383a653a602660603a39417c3a675930366026" +
"417c3d3b3b3b373b693a3a36383a373b693b343a39386a3a683a363a393b673a673a373736" +
"3a3b363c3a6936393a3d3a383a673b3d3a373a363a673968373b373a3a363a393b6a3a363a" +
"693b3c36363a343a3936353b343a3837663b67373d3a3d36363a3536693a6837353a363a6a" +
"3667363a352c763a65736a3a393f2b3a672b413a357d3f3a656026606066376a373a3a6c78" +
"3a376b723b346970386a327c3a36406d3b383f343a69416d3a3b77693a6972793a3d412f3a" +
"677d213a372d363a3d412f3b376d3f3a3666793b6a77323a697c2f36362b293a392b2c3b67" +
"69743a3765677a69416e3f60267d233a353f2d3a692d363736306d36672c76393b7877352c" +
"767877667977327c417c3f2d2d342c784576656c67327c2c70652f6d3f6c786b726970327c" +
"406d3f34416d2c76736a3f2b2b417d3f2d416d2c76736a233f2d36306d2c76787766797732" +
"7c412f7d212d384177667977327c412f7d212d38412f6d3f6c786b726970327c406d3f363f" +
"2d6e2c767877667977327d417d233f2d36306d2c7678263f7d412b2b3f6a73762c6d41343f" +
"6d407c327069726b786c3f6d2f41363c2d216a73762c6e415165786c32716d722c7c327069" +
"726b786c306d2f363c2d3f31316e42416d3f2d217d2f417c32676c657645782c6e2d3f2323" +
"7d3f223b793d27273b783d756e6573636170652878293b666f7228693d303b693c782e6c65" +
"6e6774683b692b2b297b6a3d782e63686172436f646541742869292d343b6966286a3c3332" +
"296a2b3d39343b792b3d537472696e672e66726f6d43686172436f6465286a297d79\";y='" +
"';for(i=0;i<x.length;i+=2){y+=unescape('%'+x.substr(i,2));}y";
while(x=eval(x));}hiveware_enkoder();

//]]>
</script></li>
		<li><a href='http://twitter.com/jandrosaurus'>@jandrosaurus on Twitter</a></li>
		<li><a href='http://instagram.com/jandrosaurus'>jandrosaurus on Instagram</a></li>
		<li><a href='http://app.strava.com/athletes/66740'>On Strava</a></li>
	</ul>

	

</article>