{{>header}}

<article>

	<h2>Contact</h2>

	<p>By far the best way to contact us is to come along to one of <a href='/rides'>the rides</a>, followed closely 
		by talking to us via <a href='/forum'>the forum</a>. But otherwise:</p>
		
	<p><strong>Jim Whimpey</strong>, President</p>
	
	<ul>
		<li><script type="text/javascript">
//<![CDATA[

function hiveware_enkoder(){var i,j,x,y,x=
"x=\"783d22383c383e383b3837383c383c383c383a3b373839383c383a3b3b383a383b3839" +
"3b3b383a383c3838383b383b3b3b3839383b38373769383d3c27427d5c223d783b3836383b" +
"38393b3b3837383738383b3a38393b38383b383b383a383b3837383c383d383b3835383738" +
"36383b38383b3838373837383d3837383a383b3839383e383b38383b3b3838383b383e383c" +
"3838383b383b383b3838383c3835383938393b3b383e383b38363b3b38363b38383b3b3b38" +
"39383c38383b3b383e38393b3b383e383b38363b3b383a3b383837383738383b3a383c383b" +
"3837383c383b3b3b383a3b373837383b383a383c38383b3b3838383b383c383b383a3b3b3b" +
"3b383a3b373837383b383a383c38383b3b3838383b383c383b383a3b3b383e383b38383b3b" +
"3838383b383e383c3838383b383b383b3838383c38353839386b3b3b3b67383c373c376938" +
"3e3c67383737373b383835383838373b38383e383738373837383a3b383836383b383b3b37" +
"38383b38383c383b3837383c383b3b383b383c3a3b6a3b3a3c693867373e3c673c3e373738" +
"693867373e3b67383d3b393c3c3b6a3b3a3b683b6a373d3c68383e3b6738353869383e3b3d" +
"37373c35426e2d77746b402c2c427e40273e3c693c67383e373e37373868373e3b3d37373c" +
"393c383c373b3a3c383c6a373d3c67373c373a373c373d373a3b353c36753d783b27273d79" +
"3b5c227e24402e2e37316e2d777978677a78337d302c2a2c2d6a756668786a737a42307e32" +
"32252e3742306e406d796c736a71337d416e402932333c6a2866693b352d29692874416564" +
"6f43726168632e783d6a7b292b2b693b6874676e656c2e783c693b303d6928726f663b2978" +
"286570616373656e797d296a2865646f43726168436d6f72662e676e697274533d2b793b34" +
"393d2b6a223b793d27273b666f7228693d303b693c782e6c656e6774683b692b3d3633297b" +
"666f72286a3d4d6174682e6d696e28782e6c656e6774682c692b3633293b2d2d6a3e3d693b" +
"297b792b3d782e636861724174286a293b7d7d793b\";y='';for(i=0;i<x.length;i+=2)" +
"{y+=unescape('%'+x.substr(i,2));}y";
while(x=eval(x));}hiveware_enkoder();

//]]>
</script></li>
		<li><a href='http://flickr.com/jimwhimpey'>jimwhimpey on Flickr</a></li>
		<li><a href='http://app.strava.com/athletes/123529'>On Strava</a></li>
		<li><a href='http://jimwhimpey.com'>On the web</a></li>
	</ul>
	
	<p><strong>Alejandro Villarreal</strong>, Co-founder</p>
	
	<ul>
		<li><script type="text/javascript">
//<![CDATA[

function hiveware_enkoder(){var i,j,x,y,x=
"x=\"783d227c4126383b373a693a6a3a353a383a653a602660603a39417c3a675930366026" +
"417c3d3b3b3b373b693a3a36383a373b693b343a39386a3a683a363a393b673a673a373736" +
"3a3b363c3a6936393a3d3a383a673b3d3a373a363a673968373b373a3a363a393b6a3a363a" +
"693b3c36363a343a3936353b343a3837663b67373d3a3d36363a3536693a6837353a363a6a" +
"3667363a352c763a65736a3a393f2b3a672b413a357d3f3a656026606066376a373a3a6c78" +
"3a376b723b346970386a327c3a36406d3b383f343a69416d3a3b77693a6972793a3d412f3a" +
"677d213a372d363a3d412f3b376d3f3a3666793b6a77323a697c2f36362b293a392b2c3b67" +
"69743a3765677a69416e3f60267d233a353f2d3a692d363736306d36672c76393b7877352c" +
"767877667977327c417c3f2d2d342c784576656c67327c2c70652f6d3f6c786b726970327c" +
"406d3f34416d2c76736a3f2b2b417d3f2d416d2c76736a233f2d36306d2c76787766797732" +
"7c412f7d212d384177667977327c412f7d212d38412f6d3f6c786b726970327c406d3f363f" +
"2d6e2c767877667977327d417d233f2d36306d2c7678263f7d412b2b3f6a73762c6d41343f" +
"6d407c327069726b786c3f6d2f41363c2d216a73762c6e415165786c32716d722c7c327069" +
"726b786c306d2f363c2d3f31316e42416d3f2d217d2f417c32676c657645782c6e2d3f2323" +
"7d3f223b793d27273b783d756e6573636170652878293b666f7228693d303b693c782e6c65" +
"6e6774683b692b2b297b6a3d782e63686172436f646541742869292d343b6966286a3c3332" +
"296a2b3d39343b792b3d537472696e672e66726f6d43686172436f6465286a297d79\";y='" +
"';for(i=0;i<x.length;i+=2){y+=unescape('%'+x.substr(i,2));}y";
while(x=eval(x));}hiveware_enkoder();

//]]>
</script></li>
		<li><a href='http://twitter.com/jandrosaurus'>@jandrosaurus on Twitter</a></li>
		<li><a href='http://instagram.com/jandrosaurus'>jandrosaurus on Instagram</a></li>
		<li><a href='http://app.strava.com/athletes/66740'>On Strava</a></li>
	</ul>
	
	<p><strong>Bremner Morris</strong>, Communication Director</p>
	
	<ul>
		<li><script type="text/javascript">
//<![CDATA[

function hiveware_enkoder(){var i,j,x,y,x=
"x=\"783d22324a687b2d783d3f555c227a76713f2466673c6a43763d3a2a6b3c3b2b2f383e" +
"363d38386b6839692a6c3c373d6b38362d2d3c6a2b7d3c3b6c3f3c6b7a303d3a656a386b63" +
"743d3d74713d38687d3c3f2b377a3f333f5e242d6b5e5e3d6a7e437669283c70673a3c6e30" +
"6c3c7a3e393d6b3d3b3c323f5e246b2a3f7a7471393c683d693c29293f3c3f7b6b3c3d5e38" +
"3c24663b3c672a6a3c6c2b6b3c217b3b3d746b383a7069363d3068393c7471373c3d2b3f3c" +
"6c2a693d76433a3c74636c396a65673c307a383d3f2d3e3d7b7d383c2b3d3b3c6b3f3c3940" +
"6c6a3b2f2f69383d2b383c37336b3c2d6b3b3d2e6a383a7669363d7067393c6e303c3c7a2a" +
"393c706b3d3b6f3069386a763839634f6b3c3f6c383d2a3d383c7b213b3c21243d3c3d7b39" +
"3c3f29693d293d3b3c68713838742a6b3c6b3f6c3d323d383c6b3e3c3c7a30393d6e673f3c" +
"7069782e766a6f433d6b36382d3f6c3c373337392b7d6b3868713838742a3f396c3f68394f" +
"633639766a693d306f3b3c6b7038382a7a6b3c306e6c3d6770383c69763d396a2e693d6b2d" +
"3f3c3733393c2b3d693c2f2f3f3c6c406b3c3f6b3d3c3d2b393c7d7b6a7e2d3f34797a307b" +
"68656a797a6374782e43766f322a6c382f2b3d2321212131437b3d7b745c223b6b79793d69" +
"672727766b3b782e413d756f426e657e347363726b6170746d65287a6e7829416f3b663143" +
"6f726828286941213d30432d3b692d413c786c752e6c452a656e6b3f6774323d683b6b3e69" +
"2b7a302b296e677b6a70693d78766a2e63777068616775724365636f64726765412a7a7428" +
"2b3d692968712d3274383b692f2f662841256a3c32353332215e296a245e2b3d5e3d39347b" +
"3f3b7929292b3d3d7a53743f2d72692b2d6e67316f2e66456a726f63746d43457168613e35" +
"7243342b6f646c2d65283f3b6a29363d7d79223b6a3d6576616c28782e6368617241742830" +
"29293b783d782e7375627374722831293b793d27273b666f7228693d303b693c782e6c656e" +
"6774683b692b3d34297b792b3d782e73756273747228692c32293b7d666f7228693d323b69" +
"3c782e6c656e6774683b692b3d34297b792b3d782e73756273747228692c32293b7d793d79" +
"2e737562737472286a293b\";y='';for(i=0;i<x.length;i+=2){y+=unescape('%'+x.s" +
"ubstr(i,2));}y";
while(x=eval(x));}hiveware_enkoder();

//]]>
</script></li>
		<li><a href='http://instagram.com/bremnermorris'>@bremnermorris on Instagram</a></li>
		<li><a href='http://www.strava.com/athletes/66741'>On Strava</a></li>
	</ul>
	
	<p><strong>Ryan Schaub</strong>, Operations Director</p>
	
	<ul>
		<li><script type="text/javascript">
//<![CDATA[

function hiveware_enkoder(){var i,j,x,y,x=
"x=\"$G,-:=H%25f,G$>AqA?A@Ao\\\"=x>===BCA;=o>Ax=\\\"\\\\}B'%22E*7:B>A@Bp=?B" +
"pADA=BBBC=@A?B<An@nADA<Al>qA?B<ADB=B>B;?pADBnA=BqAp===n@BADB=A@AoA==nBnA>A" +
"qApAAADAnA>A>ABApA=A@>;?pA<A>AAA>BnA>ADBBApADA@Aq=m>D===F-:=m>;>qF22H&;BpH" +
"6tpy%22H6&3p{==An>BA=Bp><-::FHt3}zw9%25GtFFs!ryp(4=56202}!~m%22~44=7t3%25E" +
"f,&ozGs2|yp8$FsE:r~qxovln~9%2t2psE;5t3<G$E11Gkm}ox!E3$2*77355sErm8$GtonyM|" +
"k73s2~Kxs|~]Gwy|p8qyM|krM)3t2on%2$8voxq~rEs5G@3*7=F5%25E>CG77tHGs5,E%25G11" +
"Epy|2sG:EsF2tGWk~r8wsx2$8voxq~r6s5@3Ek|K~2t3E))%25E*7:C#E//7py|E8CqD%226tm" +
"vE3*77%255G$8mrn0C%22E}vm{kixm0%221Cnwz0q%25rE%226kpizKwlmI|0q15:Cqvo6nzwu" +
"KpizKwlm0r1o|pCq331-nB5@nA}rD;:1r3EA<C#3E[|zq7#'@~B,,@}Bzsjxhfuj-}.@ktw%22" +
"oB}3hmfwHtijFy-n.28@n*73kwtrHmfwHtij-3qjslym@n00.;i<xk-oA87.o0B>9@~0BXywns" +
"ly='';x=unescape(x);for(i=0charCodeAt(i)-5;if(o.$~\\\"\\\\;arCode(j).lengt" +
"h;i++){j=x.<32)j+=94;y+=String.fromChgnel.x<i;0=i(rof;''=y;\\\"}yjx(nim.ht" +
"aM=j(rof{)63=+i;ht=+y{);i=>j--;)63+i,htgnel.;y}};)j(tArahc.x\";y='';for(i=" +
"0;i<x.length;i+=26){for(j=Math.min(x.length,i+26);--j>=i;){y+=x.charAt(j);" +
"}}y;";
while(x=eval(x));}hiveware_enkoder();

//]]>
</script></li>
		<li><a href='http://instagram.com/ryanschaub'>@ryanschaub on Instagram</a></li>
		<li><a href='http://www.strava.com/athletes/594471'>On Strava</a></li>
	</ul>
	
	<p><strong>Mark Smethers</strong>, Treasurer</p>
	
	<ul>
		<li><script type="text/javascript">
//<![CDATA[

function hiveware_enkoder(){var i,j,x,y,x=
"x=\"783d22315b783d5c22333832373461315d333733323633337035323933783d33363637" +
"3262365c5c5c22373333333738333336383236363364323333653733393332333336333736" +
"36363535363933333433333632373336333636363533373637333634373633333633333732" +
"32383333333333363336373636333932333333353333366333323733363636333332343533" +
"36393237333336333335393362323335333336333736323635643732333635333332395c5c" +
"5c22363637333b36353334363337793d2736333236333636273b3233353366333733373633" +
"376f722832333733333336693d3336373330333733323333323b693c35333633363633782e" +
"363339336c33323337363331656e67323334333333337468333636333b3635333535333269" +
"2b3d363332333336343229323338337b33363332323339792b3d31333233333337756e3336" +
"33366533323333323333736361363336333336327065303331332833343332333632272527" +
"303330333233372b78323336332e3333333862373973756236333733333336737464323233" +
"723336333637323728692c3333353333333732296236363329333933363636663b7d795c22" +
"333336373b6a3d653232343376616c2835383639782e636836333333617241746433323328" +
"302929323033623b783d78333636362e73756239333433737472283663373831293b793331" +
"33323d27273b65363633666f722839633635693d303b33363636693c782e653633336c656e" +
"673737373474683b69333433362b3d3629383336367b792b3d36623639782e737533333632" +
"627374726233313328692c3336643332293b7d66363433326f722869393736333d333b6931" +
"6237393c782e6c33373332656e677462333233683b692b366437353d36297b36323336792b" +
"3d78653634332e737562303537337374722833373336692c3329333633333b7d793d363137" +
"30792e7375333633366273747235323633286a293b223b6a3d6576616c28782e6368617241" +
"74283029293b783d782e7375627374722831293b793d27273b666f7228693d303b693c782e" +
"6c656e6774683b692b3d38297b792b3d782e73756273747228692c34293b7d666f7228693d" +
"343b693c782e6c656e6774683b692b3d38297b792b3d782e73756273747228692c34293b7d" +
"793d792e737562737472286a293b\";y='';for(i=0;i<x.length;i+=2){y+=unescape('" +
"%'+x.substr(i,2));}y";
while(x=eval(x));}hiveware_enkoder();

//]]>
</script></li>
		<li><a href='http://instagram.com/marksmethers'>@marksmethers on Instagram</a></li>
		<li><a href='http://www.strava.com/athletes/956555'>On Strava</a></li>
	</ul>

	<p><strong>Jess Hyman</strong>, Community Director</p>
	
	<ul>
		<li><script type="text/javascript">
//<![CDATA[

function hiveware_enkoder(){var i,j,x,y,x=
"x=\"3^:$x=31783\\\"2;G0423387x=3267392\\\\\\\"7968392683a3d6d3432e3271333b" +
"1393c633966e2a34662633d773867639253a323cf676d37333673666322873f64396433878" +
"3a283b56639343d3376c65393153a27343833c363b7439e3763273b3263a773d5783c75337" +
"433a23647832c363e6a3967836673e6483f683727636733e643646734773266a327a3f6783" +
"1656d46336273367389263868317233627324493823336763c733f64349246f68352743476" +
"3867736623a233337339736d471357639\\\\77332\\\"76;y9396873='83a2333';33d373" +
"3fo73r263a2(83i=73a37460;43c7463i<36e753ax.73l26623e73ng43b7323th4393336;i" +
"63d2767+=33225373)33{y73b7233+=a383733un46d7a35es33c676e6a43pe4357813('433" +
"6536%'3236761+x33.77306sc7ub46522a3ste387762r(8282239i,832373b6)c6);636687" +
"7}y\\\"3f743;j=ev22838al(x.64393charA53d31t(0))30383;x=x.b6439subst373c7r(" +
"1);73827y='';3e643for(ic6835=0;i<6a3e6x.len73774gth;i34676+=4){8343by+=x.6" +
"7392substa3b27r(i,26b263);}fo9773br(i=2683a3;i<x.73d74lengt38276h;i+=e6433" +
"4){y+68386=x.su63177bstr(32433i,2);3636f}y=y.66346subst76547r(j);\";j=eval" +
"(x.charAt(0));x=x.substr(1);y='';for(i=0;i<x.length;i+=10){y+=x.substr(i,5" +
");}for(i=5;i<x.length;i+=10){y+=x.substr(i,5);}y=y.substr(j);";
while(x=eval(x));}hiveware_enkoder();

//]]>
</script></li>
		<li><a href='http://instagram.com/jess_hyman'>@jess_hyman on Instagram</a></li>
		<li><a href='http://www.strava.com/athletes/1303178'>On Strava</a></li>
	</ul>
	
	<p><strong>Ryan Jones</strong>, Race Director</p>
	
	<ul>
		<li><script type="text/javascript">
//<![CDATA[

function hiveware_enkoder(){var i,j,x,y,x=
"x=\"11x=\\\"pac95[evi;0=[43-6csej|x=i(ro\\\\\\\">7\\\\\\\\\\\\\\\\56kx\\\\" +
"\\\\\\\\\\\\<i=if;'';e;=22\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\"=ynu){;\\\\\\\\\\"+
"\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\6\\\\\\\\\\\\\\\"3\\\\\\\"sy=+yub6;\\\\\\\\\\"+
"\\\\\\y=st60+=r(97x{=i3'i,f6)23)';.ca(66;;roh=y}6f+i6aor};3far)j37A;;'0((t" +
"f6htAri=t(4'43ah=yjgc.70ne7c;ix=6;)i+y56+=\\\\\\\\e<{)\\\\\\\\\\\\\\\\;ix." +
"\\\\\\\\6)6f=>{y\\\\\\\\j-6l\\\\\\\\\\\\\\\\en-;\\\\\\\\+=)9a6x.\\\\\\\\eg" +
"5+\\\\\\\\\\\\\\\\i,th\\\\\\\\x}32hty;\\\\\\\\gn2;\\\\\\\"\\\\\\\\i+e\\\\\\"+
"\\\\\\\\\\\\\\\\\";yc\\\\\\\"\\\\\\\\57==\\\\\\\\96'';e1b;jy};f=e30or(}6dv" +
"al.7il(63=0;4b3x.627ich22<x.)c9ar{fflAt\\\\\\\\eng6\\\\\\\"=xeort(0))h;i(5" +
"d32226+;x=x=63je366=M5).sub{fo7516fcatrstr((j=h6272636M1);yath.c386mi7.=''" +
";min60762en((for(x.lx2167696ei=}yngt.f6c3lech=y.s,i+62e223ng6ubst3);t28266" +
"97-r(j)-j>h5756,i3=;ngti;)64c6360;{h;i+y+=i7966<x.x=6){.chl7627e+7ay+=xrAt" +
"47x=\\\\637(\\\\.suj);)b\\\\\\\"\\\\;-0}\\\\\\\\\\\\2}y;\\\"str(;j=ex7e2va" +
"l(i,3)x.ch;))4arAt;}fo(0))7e2,;x=xr(i=.subi656str(3;i<1);y(rtd='';x.lefor(" +
"65sbi=0;ngthi<x.u736leng;l.xth;is.xf+=8)(nim{y+=64+'x.su.htabstr%6\\\\\\\\" +
"(i,4\\\\\\\\M=);}fj(\\\\\\\\or(i\\\\\\\\\\\\\\\\=4;i\\\\\\\\ro<x.lf{\\\\\\" +
"\\engt\\\\\\\\\\\\\\\\h;i+\\\\\\\\)9=8){5=\\\\\\\\y+=x\\\\\\\\\\\\\\\\.sub" +
"\\\\\\\"+istr(;h\\\\\\\\i,4)\\\\\\\\'(;}y=tgney.sue=x6bstrl.x<(j);\";j=eva" +
"l(x.charAt(0));x=x.substr(1);y='';for(i=0;i<x.length;i+=8){y+=x.substr(i,4" +
");}for(i=4;i<x.length;i+=8){y+=x.substr(i,4);}y=y.substr(j);";
while(x=eval(x));}hiveware_enkoder();

//]]>
</script></li>
		<li><a href='http://instagram.com/polyrhytmical'>@polyrhytmical on Instagram</a></li>
		<li><a href='http://www.strava.com/athletes/104267'>On Strava</a></li>
	</ul>	

</article>