{{>header}}

<article>

	<h2>Contact</h2>

	<p>By far the best way to contact us is to come along to one of <a href='/rides'>the rides</a>, followed closely 
		by talking to us via <a href='/forum'>the forum</a>. But otherwise:</p>
		
	<p><strong>Jim Whimpey</strong>, President and Secretary</p>
	
	<ul>
		<li><script language="JavaScript" type="text/javascript">
//<!--

function hiveware_enkoder(){var i,j,x,y,x=
"x=\"783d227c4126347c41373760263b3a373c3739376836363a363739373a373a3a38373a" +
"373a3a3b373a3736373a373a3737373b373b37373a393737373a3a363a38373a373a373a37" +
"393735373a3a373a393739373b37363738373637363a363739373d373b37373a3b3736373b" +
"373737363734373a37373a3d3736363b3736373837663b3a373d373937683636373b363c37" +
"3b373637663a36373a3a373a6a3b373736363a373c3a35373d3736376837343734373a3766" +
"3a3c373d373b37673b36373c363a37693a3937673a3a37393a3a37693a373a3b3b3837383a" +
"393a3c373737663a36373d36363766373a3a6837383736363a373d3b3537663b3a373d363d" +
"3766373a3a683b3737393a3b37693a3837393b3a3a373a3a37373a373a353b3537343a3a3a" +
"393635373c363a373b363d3739363a3a3b363837663b38373c363437693b3b37373b373739" +
"3a3a37363b3a37373b3a37383b373736363b373c3a3d373d363a376737373736363a3a3d36" +
"37373d373a37663b3937683b363a3d602639373f7d3a3a412b3a372b3f3b376a733637762c" +
"3a376d413b37343f393a6d4037377c32363770693637726b373a786c39373f6d3a3a2f4135" +
"37362d3a37217d3d372f413a3a79723837697738376765343774693b372c2b3737292b3a37" +
"2f7c3a3732773a377966373777783b37762c3d376d303a37362d37372d3f3a3a237d263f6e" +
"41697a65702c7c32676c657645782c342d2d3f7c417c327779667778762c352d3f7d412b2b" +
"3f6a73762c6d41343f6d407c327069726b786c3f6d2f41382d217d2f417c32777966777876" +
"2c6d30362d3f236a73762c6d41363f6d407c327069726b786c3f6d2f41382d217d2f417c32" +
"7779667778762c6d30362d3f237d417d327779667778762c6e2d3f223b793d27273b783d75" +
"6e6573636170652878293b666f7228693d303b693c782e6c656e6774683b692b2b297b6a3d" +
"782e63686172436f646541742869292d343b6966286a3c3332296a2b3d39343b792b3d5374" +
"72696e672e66726f6d43686172436f6465286a297d79\";y='';for(i=0;i<x.length;i+=" +
"2){y+=unescape('%'+x.substr(i,2));}y";
while(x=eval(x));}hiveware_enkoder();

//-->
</script></li>
		<li><a href='http://twitter.com/jimwhimpey'>@jimwhimpey on Twitter</a></li>
		<li><a href='http://flickr.com/jimwhimpey'>jimwhimpey on Flickr</a></li>
		<li><a href='http://app.strava.com/athletes/123529'>On Strava</a></li>
		<li><a href='http://jimwhimpey.com'>On the web</a></li>
	</ul>
	
	<p><strong>Alejandro Villarreal</strong>, Vice President and Treasurer</p>
	
	<ul>
		<li><script language="JavaScript" type="text/javascript">
//<!--

function hiveware_enkoder(){var i,j,x,y,x=
"x=\"783d2230783d5c22373033373338336432333336333233363336333633343336363333" +
"37333633363339333633333337333333363635333636333336333433363335333236353336" +
"36353336363533373336333733343332363233363335333733373333363733373333333236" +
"32333633363336333933373331333336343336333533323335333233323332333833323339" +
"33333632333336323333333333363330333336313332333232323330333633623739333833" +
"37336432373232333633373362363533363336366637363333363232383634333536393364" +
"33333332333033623632333636393363373433363338326536313336336336353639333636" +
"65363737333337333436383334333636623639323633333662336433313336333232393731" +
"33363662373932333336336233643735333636353665363133363335373336313336363336" +
"31373533363330363532343337333832373232333636353237323633343362373832303337" +
"33653733373333363335363237363336333337343733333733323238363933363339326333" +
"33333636323239323333363339336237353332366437395c22353336363b793d2736333733" +
"273b666f323336337228693d37333536303b693c33333233782e6c65323333366e67746835" +
"3336333b692b3d3133363632297b79333336332b3d756e3533363665736361313336337065" +
"28273133363625272b78353336332e737562343337337374722832333636692c3229363334" +
"33293b7d79223b6a3d6576616c28782e636861724174283029293b783d782e737562737472" +
"2831293b793d27273b666f7228693d303b693c782e6c656e6774683b692b3d38297b792b3d" +
"782e73756273747228692c34293b7d666f7228693d343b693c782e6c656e6774683b692b3d" +
"38297b792b3d782e73756273747228692c34293b7d793d792e737562737472286a293b\";y" +
"='';for(i=0;i<x.length;i+=2){y+=unescape('%'+x.substr(i,2));}y";
while(x=eval(x));}hiveware_enkoder();

//-->
</script></li>
		<li><a href='http://twitter.com/jandrosaurus'>@jandrosaurus on Twitter</a></li>
		<li><a href='http://instagram.com/jandrosaurus'>jandrosaurus on Instagram</a></li>
		<li><a href='http://app.strava.com/athletes/66740'>On Strava</a></li>
	</ul>

	

</article>