{{>header}}

<article>

	<h2>Friends of Tam</h2>

	<p>Climb Mount Tamalpais <a href="http://www.strava.com/routes/173309">via the four main routes</a> in a one day.</p>

	<p>Inspired by <a href="http://www.clubcinglesventoux.org/en/club.html">The Club des Cinglés du Mont-Ventoux</a> 
		which has defined the challenge of riding Mont Ventoux three (or more) ways in a single day. Although Mt Tam 
		peaks at only half the elevation of Ventoux the route still climbs almost 14,000 feet over 85 miles.</a>
		
	<h3>The Climbs</h3>
	
	<ul>
		<li>MV: From Tam Junction in Mill Valley via Highway 1, Pantoll to East Peak</li>
		<li>SB: Stinson Beach via Pantoll to East Peak</li>
		<li>BF: BoFax to Ridgecrest and East Peak</li>
		<li>FF: Fairfax to Alpine Dam, Ridgecrest and East Peak</li>
		<li>RRG: The mythical fifth route from Mill Valley on the Railroad Grade fire trail.</li>
	</ul>

	<h3>Galériens du Tam</h3>
	
	<table>
		<tr>
			<th>Rider</th>
			<th>Date</th>
			<th>Route</th>
		</tr>
		<tr>
			<td>Jenn Chan</td>
			<td>May 3rd, 2015</td>
			<td><a href="https://www.strava.com/activities/297728716">FF BF MV SB</a></td>
		</tr>
		<tr>
			<td>Mark Smethers</td>
			<td>October 5th, 2014</td>
			<td><a href="http://www.strava.com/activities/203360087">MV BF <strong>RRG</strong> FF SB</a></td>
		</tr>
		<tr>
			<td>Galina Merzh</td>
			<td>September 6th, 2014</td>
			<td><a href="http://www.strava.com/activities/191916598">MV FF BF SB</a></td>
		</tr>
		<tr>
			<td>Dan Chao</td>
			<td>September 6th, 2014</td>
			<td><a href="http://www.strava.com/activities/190825023">MV SB FF BF</a></td>
		</tr>
		<tr>
			<td>Andy Slopsema</td>
			<td>September 6th, 2014</td>
			<td><a href="http://www.strava.com/activities/190885333">MV FF BF SB</a></td>
		</tr>
		<tr>
			<td>Maddie Boyd</td>
			<td>August 30th, 2014</td>
			<td><a href="http://www.strava.com/activities/187648456">FF BF MV SB</a></td>
		</tr>
		<tr>
			<td>Miho Taniguchi</td>
			<td>August 30th, 2014</td>
			<td><a href="http://www.strava.com/activities/187611883">FF BF MV SB</a></td>
		</tr>
		<tr>
			<td>Starlynn Clarke</td>
			<td>August 30th, 2014</td>
			<td><a href="http://www.strava.com/activities/187621730">FF BF MV SB</a></td>
		</tr>
		<tr>
			<td>Mike Skalnik</td>
			<td>July 26th, 2014</td>
			<td><a href="http://www.strava.com/activities/171392278">MV FF BF SB</a></td>
		</tr>
		<tr>
			<td>Harrison Shih</td>
			<td>June 29th, 2014</td>
			<td><a href="http://www.strava.com/activities/159805093">FF BF MV SB</a></td>
		</tr>
		<tr>
			<td>Patrick Glover</td>
			<td>June 29th, 2014</td>
			<td><a href="http://www.strava.com/activities/159950418">FF BF MV SB</a></td>
		</tr>
		<tr>
			<td>Alec Dinner</td>
			<td>June 28th, 2014</td>
			<td><a href="http://www.strava.com/activities/159304775">FF BF SB MV</a></td>
		</tr>
		<tr>
			<td>Mario Duarte</td>
			<td>June 21st, 2014</td>
			<td><a href="http://www.strava.com/activities/156483454">FF BF MV SB</a></td>
		</tr>
		<tr>
			<td>Kyle Beikirch</td>
			<td>June 21st, 2014</td>
			<td><a href="http://www.strava.com/activities/156480734">FF BF MV SB</a></td>
		</tr>
		<tr>
			<td>Brian Kuczynski</td>
			<td>June 14th, 2014</td>
			<td><a href="http://www.strava.com/activities/153647198">FF BF SB MV</a></td>
		</tr>
		<tr>
			<td>Nick Kova</td>
			<td>June 14th, 2014</td>
			<td><a href="http://www.strava.com/activities/153630790">FF BF SB MV</a></td>
		</tr>
		<tr>
			<td>Bremner Morris</td>
			<td>June 14th, 2014</td>
			<td><a href="http://www.strava.com/activities/153631456">FF BF SB MV</a></td>
		</tr>
		<tr>
			<td>Ed Dorsey</td>
			<td>June 14th, 2014</td>
			<td><a href="http://www.strava.com/activities/153632254">FF BF SB MV</a></td>
		</tr>
		<tr>
			<td>Jim Whimpey</td>
			<td>June 14th, 2014</td>
			<td><a href="http://www.strava.com/activities/153626698">FF BF SB MV</a></td>
		</tr>
		<tr>
			<td>Chris Diaz</td>
			<td>June 13th, 2014</td>
			<td><a href="http://www.strava.com/activities/153222627">MV SB BF FF</a></td>
		</tr>
		<tr>
			<td>Stephen Chang</td>
			<td>June 13th, 2014</td>
			<td><a href="http://www.strava.com/activities/153217995">MV SB BF FF</a></td>
		</tr>
		<tr>
			<td>Ryan Schaub</td>
			<td>June 13th, 2014</td>
			<td><a href="http://www.strava.com/activities/153232103">MV SB BF FF</a></td>
		</tr>
		<tr>
			<td>Mark Slavonia</td>
			<td>March 15th, 2014</td>
			<td><a href="http://www.strava.com/activities/121007851">MV FF BF SB</a></td>
		</tr>
	</table>

</article>
