{{>header}}

<article>

	<h2>Friends of Tam</h2>

	<p>Climb Mount Tamalpais <a href="http://www.strava.com/routes/173309">via all four routes</a> in a one day.</p>

	<p>Inspired by <a href="http://www.clubcinglesventoux.org/en/club.html">The Club des Cinglés du Mont-Ventoux</a> 
		which has defined the challenge of riding Mont Ventoux three (or more) ways in a single day. Although Mt Tam 
		peaks at only half the elevation of Ventoux the route still climbs almost 14,000 feet over 85 miles.</a>
		
	<h3>The Route</h3>
	
	<ol>
		<li>First climb: Tam Junction via Highway 1, Pantoll to East Peak</li>
		<li>Second climb: Stinson Beach via Pantoll to East Peak</li>
		<li>Third climb: BoFax to Ridgecrest and East Peak</li>
		<li>Fourth club: Fairfax to Alpine Dam, Ridgecrest and East Peak</li>
	</ol>

	<h3>Galériens du Tam</h3>
	
	<table>
		<tr>
			<th>Rider</th>
			<th>Date</th>
			<th>Time</th>
		</tr>
		<tr>
			<td>No one yet</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</table>

</article>
