{{>header}}

<article>

	<h2>Membership</h2>

	<p>Being part of the club is $60/year expiring for all at the end of each calendar year.</p>
	
	<h3>What you Get</h3>
	
	<ul>
		<li>Access to the <a href='/forum'>forum</a></li>
		<li>A nice pair of socks</li>
		<li>People to ride and race with</li>
		<li>Use of shared club equipment like bike bags and GoPros</li>
		<li>Friends and comraderie</li>
	</ul>
	
	<h3>How to Join</h3>
	
	<p>Come to <a href='/rides'>a ride</a>, let us know you'd like to join and we'll sort you out.</p>
	
	<h3>Where your Money Goes</h3>
	
	<p>We don't run for profit. Membership fees will be used to fund and subsidise club kit, put money on the 
		bar at social events, buy shared equipment and organise races.</p>

</article>