{{>header}}

<article>

	<h2>Membership</h2>

	<p>Regular membership is $60/year expiring for all at the end of each calendar year.</p>
	
	<p>Student membership is $40/year.</p>
	
	<h3>What you Get</h3>
	
	<ul>
		<li>Access to the <a href='/forum'>forum</a></li>
		<li>A nice pair of socks (proper cuff length, +5 watts)</li>
		<li>Great people to ride and race with</li>
		<li>Use of shared club equipment like bike bags and GoPro cameras</li>
		<li>Invitations to our events</li>
		<li>Friends and camaraderie</li>
	</ul>
	
	<h3>How to Join</h3>
	
	<p>Come to <a href='/rides'>a ride or two</a> and introduce yourself. Tell us a little about yourself, ask questions 
		and work out whether SFCC is right for you. If you think it's right then fill out <a href="https://docs.google.com/forms/d/19T4T2VIGeAYBx9U0GoP01LSmPLJwxTcsrtlkVKmYSJo/viewform">
		this form</a> and we'll get the process complete.
	
	<h3>Where your Money Goes</h3>

	<p>Membership fees will be used to fund and subsidise club kit, put money on the bar at social events, 
		buy shared equipment, and organize races.</p>

	<p>We don't run for profit. Every dime goes back to the Club and its members.</p>

</article>