{{>header}}

<article>

	<h2>Joining the San Francisco Cycling Club in 2016</h2>

	<p>Our members love riding, racing, having a great time, and supporting one another.
		Membership in the San Francisco Cycling Club grants you access to many benefits,
		most importantly a bond with some of the fastest and friendliest cyclists in the community.</p>

	<p>We rely heavily on our members for introductions to new riders and trust them to bring
		in good people who share <a href="/about">our values</a>.</p>

	<p>If you enjoy riding with us and would like to join the club, reach out to a
		couple of your new found SFCC friends to see whether they would be willing to
		nominate you for membership. We have <a href="https://docs.google.com/forms/d/1mnNDzMqvZUK9OgY0Ew6qb3jMBMjy62xdeI9YAucQVLA/viewform">online questionnaires for you</a>
		and your <a href="https://docs.google.com/forms/d/1DBaN5tT_9xYT5lPFwTpam6CQldX6aEMMmEtv84zyzlg/viewform">club members</a> to fill out helping the rest of the club get to know you.</p>

	<p>If you've not ridden with any of us before, just come along to <a href="/rides-calendar">our rides</a>,
		we have one almost every day, introduce yourself and make a couple of new friends. We're a welcoming bunch.</p>

	<p>New membership costs <strong>$130/year</strong>, it's active immediately (2016 membership opened December
		2015) and expires at the end of each calendar year.</p>

	<p>SFCC is non-binding. Being part of the Club doesn't preclude you joining a racing team or another social club.</p>

	<h3>What you get from your membership:</h3>

	<ul>
		<li>Access to the <a href='/forum'>forum</a></li>
		<li>A nice pair of socks (proper cuff length, +5 watts)</li>
		<li>Great people to ride and race with</li>
		<li>Entry to our annual <a href='/racing'>series of intra-club races</a></li>
		<li>Use of shared club equipment like wheel bags, travel cases, GoPro cameras, and an EZ-Up tent.</li>
		<li>Ride/race support from our friends at <a href="http://www.bespokecyclessf.com">Bespoke</a></li>
		<li>Access to free advice from USAC coaches</li>
		<li>Coached training sessions</li>
		<li>Invitations to our <a href="/rides-calendar">events</a> and parties</li>
		<li>Opportunity to buy <a href="http://instagram.com/p/fVS8nTt_0z/">club kit</a>, caps and bottles</li>
		<li>Friends and camaraderie</li>
	</ul>

	<h3>Renewing Membership</h3>

	<p>Renewing membership is <strong>$90/year</strong> and instructions are in your inbox.</p>

</article>
