{{>header}}

<article>

	<h2>Membership</h2>

	<p>Regular membership is $60/year expiring for all at the end of each calendar year.</p>
	
	<p>Student membership is $40/year.</p>
	
	<h3>What you Get</h3>
	
	<ul>
		<li>Access to the <a href='/forum'>forum</a></li>
		<li>A nice pair of socks</li>
		<li>People to ride and race with</li>
		<li>Use of shared club equipment like bike bags and GoPro cameras</li>
		<li>Friends and comraderie</li>
	</ul>
	
	<h3>How to Join</h3>
	
	<p>Come to <a href='/rides'>a ride or two</a> and introduce yourself. Work out whether SFCC is right 
		for you. If you think it is then <a href="https://docs.google.com/forms/d/1mF6VDi2uOCuaZthgCbScrBT-6daJuk0DLRs2CKX8G4A/viewform">fill out this form</a> and we'll get back to you soon
		after.</p>
	
	<h3>Where your Money Goes</h3>
	
	<p>We don't run for profit.</p>
	
	<p>Membership fees will be used to fund and subsidise club kit, put money on the bar at social events, buy 
		shared equipment and organise races.</p>

</article>