{{>header}}

<article>

	<h2>New 2014 Memberships</h2>

	<p>Our members love riding, racing, having a great time, and supporting one another. Membership is 
		about making new friends and becoming stronger cyclists.</p>

	<p>Joining the San Francisco Cycling Club requires two existing members to 
		nominate you followed by an executive review before you're brought on board.
		We trust our members to bring in good people who share <a href="/about">our values</a>.
		
	<p>If you've not ridden with any of us before, just 
		come along to <a href="/rides-calendar">our rides</a>, introduce yourself and make a couple 
		of new friends. We're a welcoming bunch.</p>

	<p>New membership costs <strong>$120/year</strong>, it's active immediately (2014 membership opened November 2013) 
		and expires at the end of each calendar year.</p>
	
	<p>SFCC is non-binding. Being part of the Club doesn't preclude you joining a racing team or another social club.</p>
	
	<h3>What you get from your membership:</h3>
	
	<ul>
		<li>Access to the <a href='/forum'>forum</a></li>
		<li>A nice pair of socks (proper cuff length, +5 watts)</li>
		<li>An SFCC-branded Alternative Apparel crew neck sweater</li>
		<li>Great people to ride and race with</li>
		<li>Entry to our annual <a href='/racing'>series of intra-club races</a></li>
		<li>Use of shared club equipment like wheel bags, travel cases, GoPro cameras, and an EZ-Up tent.</li>
		<li>Access to free advice from USAC coaches</li>
		<li>Coached training sessions</li>
		<li>Invitations to our <a href="/rides-calendar">events</a> and parties</li>
		<li>Opportunity to buy <a href="http://instagram.com/p/fVS8nTt_0z/">club kit</a>, caps and bottles</li>
		<li>Friends and camaraderie</li>
	</ul>
	
	<h3>How to Join</h3>
	
	<p>Interested in riding with the SFCC? Come on out to a few of our rides listed on our 
		<a href="/rides-calendar">calendar</a> - the more the merrier!</p>

	<p>If you enjoy riding with us and would like to join the club, reach out to a couple of 
		your new found SFCC friends to see whether they would be willing to nominate you for 
		membership. If our members think you would be a good fit for the club, we'll 
		reach out to new prospective members with a formal invite.</p>
	
	<ol>
		<li>Come to <a href='/rides-calendar'>a few rides</a>.</li>
		<li>Introduce yourself, make some friends.</li>
		<li>If you're a good fit for the club two existing members will nominate you.</li>
	</ol>
	
	<h3>Where your Money Goes</h3>

	<p>Membership fees will be used to fund and subsidise club kit, put money on the bar at social events, 
		buy shared equipment, and organize races and events.</p>

	<p>We purposefully have no sponsors and we don't run for profit. Every dime goes back to the Club and its members.</p>
	
	<h2>Renewing Membership</h2>
	
	<p>Renewing membership is <strong>$90/year</strong>, renew <a href="https://docs.google.com/forms/d/16w9bZp72DTR1iVyYW_2xO5hNMceknMCnI3fb1k6KSuA/viewform">
		your membership with this form</a>.</p>
	
</article>
