{{>header}}

<article>

	<h2>Racing and Results</h2>

	<h3>Summer Polo Fields Racing Series</h3>

	<p>A series of six races in various formats held at the polo fields across the summer. Points are 
	awarded to the top 5 finishers at each event at tally towards the complete series. Dates and race 
	format information can be found on <a href="/calendar">the calendar</a>.</p>
	
	<h4>2014 Women's Results</h4>
	
	<table>
		<tr>
			<th>Rider</th>
			<th>Round 1</th>
			<th>Round 2</th>
			<th>Round 3</th>
			<th>Round 4</th>
			<th>Round 5</th>
			<th>Round 6</th>
			<th>Total</th>
		</tr>
		<tr>
			<td>Jenn</td>
			<td>5</td>
			<td>&nbsp;</td>
			<td>5</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>10</td>
		</tr>
		<tr>
			<td>Jess</td>
			<td>3</td>
			<td>5</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>8</td>
		</tr>
		<tr>
			<td>Claudia</td>
			<td>4</td>
			<td>&nbsp;</td>
			<td>3</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>7</td>
		</tr>
		<tr>
			<td>Maggie</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>4</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>4</td>
		</tr>
		<tr>
			<td>Erin</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>2</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Crystal</td>
			<td>2</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Mel</td>
			<td>1</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>1</td>
		</tr>
	</table>
	
	<h4>2014 Men's Results</h4>

	<table>
		<tr>
			<th>Rider</th>
			<th>Round 1</th>
			<th>Round 2</th>
			<th>Round 3</th>
			<th>Round 4</th>
			<th>Round 5</th>
			<th>Round 6</th>
			<th>Total</th>
		</tr>
		<tr>
			<td>Toohey</td>
			<td>5</td>
			<td>4</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>9</td>
		</tr>
		<tr>
			<td>Kyle</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>5</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>5</td>
		</tr>
		<tr>
			<td>Andy</td>
			<td>2</td>
			<td>3</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>5</td>
		</tr>
		<tr>
			<td>Jim</td>
			<td>&nbsp;</td>
			<td>5</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>5</td>
		</tr>
		<tr>
			<td>Smethers</td>
			<td>&nbsp;</td>
			<td>2</td>
			<td>2</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>4</td>
		</tr>
		<tr>
			<td>Patrick</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>4</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>4</td>
		</tr>
		<tr>
			<td>Zach</td>
			<td>4</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>4</td>
		</tr>
		<tr>
			<td>Spurlock</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>3</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Andre</td>
			<td>3</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Kevin</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>1</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Slavonia</td>
			<td>1</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Dan Chao</td>
			<td>&nbsp;</td>
			<td>1</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>1</td>
		</tr>
	</table>
	
	
	<h3>Individual Time Trial Series</h3>
	
	<p>In 2014 we'll be running a series of three indivual time trials. These will be a great
		test against your friends and yourself. All races will be timed and marshalled at the 
		turnaround. Full TT equipment is allowed although those riding it Merckx-style will
		be noted.</p>
	
	<p><strong>Dates</strong></p>
	
	<ul>
		<li>8am, Sunday, June 15th</li>
		<li>8am, Saturday August 16th</li>
		<li>8am, Saturday October 11th</li>
	</ul>
	
	<p><strong>The Course</strong></p>
	
	<img src="http://f.cl.ly/items/170Z2t3J1d2S0f40190T/TT-map.png" />
	
	<p>The course (<a href="http://www.strava.com/routes/180618">Strava route</a>) is a 5.8 mile out-and-back route in the beautiful Headlands. 
		Of course, you won't be able to appreciate the beauty of your surroundings 
		because you'll be in red the entire time, drooling and bobbing your way to victory.</p>

	<img src="http://f.cl.ly/items/060z1k1j1M2L1i0A283C/TT-elevation.png" />

	<p>It starts with a steady false flat, into a few rollers, and a short climb before turning around right before the tunnel. 
		After a quick 180* turn, you have a brief moment of respite before hammering back down again. 
		There's a kicker right at the end before a few hundred meters of flat (DIG DIG DIG!) to the finish.</p>
	
</article>
