{{>header}}

<article>

	<h2>Racing and Results</h2>

	<h3>Summer Polo Fields Racing Series</h3>

	<p>A series of six races in various formats held at the polo fields across the summer. Points are 
	awarded to the top 5 finishers at each event at tally towards the complete series. Dates and race 
	format information can be found on <a href="/calendar">the calendar</a>.</p>
	
	<h4>2014 Women's Results</h4>
	
	<table>
		<tr>
			<th>Rider</th>
			<th>Round 1</th>
			<th>Round 2</th>
			<th>Round 3</th>
			<th>Round 4</th>
			<th>Round 5</th>
			<th>Round 6</th>
			<th>Total</th>
		</tr>
		<tr>
			<td>Jess</td>
			<td>3</td>
			<td>5</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>8</td>
		</tr>
		<tr>
			<td>Jenn</td>
			<td>5</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>5</td>
		</tr>
		<tr>
			<td>Claudia</td>
			<td>4</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>4</td>
		</tr>
		<tr>
			<td>Crystal</td>
			<td>2</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Mel</td>
			<td>1</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>1</td>
		</tr>
	</table>
	
	<h4>2014 Men's Results</h4>

	<table>
		<tr>
			<th>Rider</th>
			<th>Round 1</th>
			<th>Round 2</th>
			<th>Round 3</th>
			<th>Round 4</th>
			<th>Round 5</th>
			<th>Round 6</th>
			<th>Total</th>
		</tr>
		<tr>
			<td>Toohey</td>
			<td>5</td>
			<td>4</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>9</td>
		</tr>
		<tr>
			<td>Andy</td>
			<td>2</td>
			<td>3</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>5</td>
		</tr>
		<tr>
			<td>Jim</td>
			<td>&nbsp;</td>
			<td>5</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>5</td>
		</tr>
		<tr>
			<td>Zach</td>
			<td>4</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>4</td>
		</tr>
		<tr>
			<td>Andre</td>
			<td>3</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>3</td>
		</tr>
		<tr>
			<td>Smethers</td>
			<td>&nbsp;</td>
			<td>2</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>2</td>
		</tr>
		<tr>
			<td>Slavonia</td>
			<td>1</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>1</td>
		</tr>
		<tr>
			<td>Dan Chao</td>
			<td>&nbsp;</td>
			<td>1</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>1</td>
		</tr>
	</table>
	
	
	<h3>Individual Time Trial</h3>
	
	<p><em>Details TBD</em></p>
	
</article>
