{{>header}}

<article>

	<h2>Rides</h2>

	<p>These rides aren't necessarily organised by us but you'll often find our members there. Coming along to
		these rides is the best way to introduce yourself.</p>

	<p>Our <a href="http://twitter.com/sfcycling">Twitter account</a> is always our most up to date source of ride 
		information. Please check there to confirm a ride is on before showing up for the first time.</a>

	<p>Please check <a href="/calendar">the calendar</a> and <a href="/forum">the forum</a> for additional rides.</p>


	<h3>Monday Night Wolfpack Hustle</h3>

	<ul>
		<li><strong>When</strong>: Every Monday night, 7:45pm meet up, 8pm rollout</li>
		<li><strong>Where</strong>: Hayes and Octavia</li>
		<li><strong>Route</strong>: Varies</li>
		<li><strong>Pace</strong>: Very fast</li>
	</ul>

	<p>Very fast, alley cat style night time training ride. Waiting at checkpoints. Finishes with beers.</p>


	<h3>Wednesday Morning Club Training</h3>

	<ul>
		<li><strong>When</strong>: Every Wednesday morning, 6:00am</li>
		<li><strong>Where</strong>: Corner of Nancy Pelosi and John F Kennedy in the park</li>
		<li><strong>Route</strong>: Around the park or polo fields, sometimes Twin Peaks</li>
		<li><strong>Pace</strong>: Varies</li>
	</ul>
	
	<p>These are focused sessions that plan to build up your sprinting ability or your aerobic threshold. 
		They vary between sprints or intervals in the park, Twin Peaks and Presidio loops. Great training if 
		you're a racer of any kind.</p>


	<h3>Thursday Morning Paradise Loop</h3>

	<ul>
		<li><strong>When</strong>: Every Thursday morning, 5:45am</li>
		<li><strong>Where</strong>: Bridge Pavillion</li>
		<li><strong>Route</strong>: <a href="http://app.strava.com/activities/36938289">Paradise Loop</a></li>
		<li><strong>Pace</strong>: Fast</li>
	</ul>

	<p>Sometimes we'll go up to Four Corners or Pantoll for some variation. Same high pace.</p>


	<h3>Friday Morning Coffee Ride</h3>

	<ul>
		<li><strong>When</strong>: Every Friday morning, 6:00am</li>
		<li><strong>Where</strong>: The Panhandle, corner of Fell and Baker</li>
		<li><strong>Route</strong>: <a href="http://app.strava.com/activities/58821089">City Loop</a></li>
		<li><strong>Pace</strong>: Slow and chatty</li>
	</ul>

	<p>An all inclusive slow loop around the city with a finish at Rapha Cycle Club for coffee and more conversation.</p>


	<h3>Rapha Saturday Morning</h3>

	<ul>
		<li><strong>When</strong>: Every Saturday morning, 8:00am coffee, 8:30am roll</li>
		<li><strong>Where</strong>: <a href="http://www.rapha.cc/san-francisco">Rapha Cycle Club</a></li>
		<li><strong>Route</strong>: Varies</li>
		<li><strong>Pace</strong>: Steady</li>
	</ul>

	<p>This is a no drop ride. The route varies every week and often includes a lot of climbing in Muir Woods.
		Not run by SFCC but our riders are often there.</p>



</article>
