{{>header}}

<article>

	<h2>Rides</h2>

	<p>These rides aren't necessarily organised by us but you'll often find our members there. Coming along to
		these rides is the best way to introduce yourself.</p>


	<h3>Monday Night Wolfpack Hustle</h3>
	
	<ul>
		<li><strong>When</strong>: Every Monday night, 8pm</li>
		<li><strong>Where</strong>: Hayes and Octavia</li>
		<li><strong>Route</strong>: Varies</li>
		<li><strong>Pace</strong>: Very fast</li>
	</ul>
	
	<p>Very fast, alley cat style night time training ride. Waiting at checkpoints. Finishes with beers somewhere. 
		Alejandro, please correct me / flesh this out.</p>
	
	
	<h3>Tuesday Morning Park Intervals</h3>
	
	<ul>
		<li><strong>When</strong>: Every Tuesday morning, 6:30am</li>
		<li><strong>Where</strong>: Corner of Nancy Pelosi and John F Kennedy in the park</li>
		<li><strong>Route</strong>: Around the park or polo fields</li>
		<li><strong>Pace</strong>: Varies, sometimes long intervals, sometimes sprints</li>
	</ul>
	
	<p>I'm just making this up. Not sure if it's a good idea.</p>
	
	
	<h3>Thursday Morning Paradise Loop</h3>
	
	<ul>
		<li><strong>When</strong>: Every Thursday morning, 5:45am</li>
		<li><strong>Where</strong>: Bridge Pavillion</li>
		<li><strong>Route</strong>: <a href="http://app.strava.com/activities/36938289">Paradise Loop</a></li>
		<li><strong>Pace</strong>: Fast</li>
	</ul>
	
	<p>Waiting at El Camino and Tiburon if people aren't too far behind.</p>
	
	
	<h3>Rapha Saturday Morning</h3>
	
	<ul>
		<li><strong>When</strong>: Every Saturday morning, 8:00am coffee, 8:30am roll</li>
		<li><strong>Where</strong>: <a href="http://www.rapha.cc/san-francisco">Rapha Cycle Club</a></li>
		<li><strong>Route</strong>: Varies</li>
		<li><strong>Pace</strong>: Steady</li>
	</ul>
	
	<p>This is a no drop ride. The route varies every week and often includes a lot of climbing in Muir Woods.</p>
	
	
	
</article>