html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #262626;
  color: #FFF; }
  body header {
    text-align: center;
    background: #121212;
    padding: 5%;
    font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif; }
    body header object {
      margin: 0 0 5em 0;
      width: 402px;
      height: 250px; }
    @media only screen and (max-width: 600px) {
      body header {
        padding: 10%; }

      body header object {
        width: 250px;
        height: 180px; } }
    body header p {
      font-style: italic;
      font-size: 1.16667em;
      color: #a5a5a5;
      text-shadow: #000 1px 1px 0;
      margin: 0 0 1em 0;
      line-height: 1.4; }
    body header ul {
      font-weight: bold;
      font-size: 1.22222em;
      text-transform: uppercase;
      margin-left: -0.35em; }
      body header ul li {
        display: inline-block; }
        body header ul li a {
          color: #FFF;
          text-decoration: none;
          display: inline-block;
          padding: 0.35em;
          margin: 0 0.9em 0 0; }
  body.page header {
    border-bottom: 1px dotted #656565; }
    body.page header object {
      margin: 0 0 2em 0; }
    body.page header p {
      margin-bottom: 1.6em; }
  body.page article {
    margin: 0 auto;
    padding: 2% 8% 5% 8%;
    line-height: 1.5;
    font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif; }
    @media only screen and (max-width: 320px) {
      body.page article {
        padding: 10px; } }
    body.page article h2 {
      font-weight: bold;
      font-size: 2em;
      margin: 1em 0 0.5em 0; }
    body.page article h3 {
      font-weight: bold;
      font-size: 1.44444em;
      text-transform: uppercase;
      letter-spacing: 0.2em;
      margin: 1.8em 0 0.3em 0; }
    body.page article p, body.page article ul, body.page article ol {
      font-size: 1.11111em;
      margin-bottom: 0.8em;
      color: #a5a5a5; }
    body.page article ul, body.page article ol {
      list-style: square;
      margin-left: 1.8em; }
    body.page article ol {
      list-style: decimal; }
    body.page article a {
      color: #ff1ff2;
      text-decoration: none;
      border-bottom: 1px dotted #a52c9c; }
      body.page article a:hover {
        color: #ff52f6;
        border-bottom: 1px dotted #ca3ac1; }
    body.page article strong {
      font-weight: bold;
      color: #FFF; }
    body.page article em {
      font-style: italic;
      color: #FFF; }
    body.page article h4 {
      font-weight: bold;
      font-size: 20px;
      margin: 20px 0 10px 0; }
    body.page article table {
      margin: 0 0 15px 0;
      border: 2px solid #444; }
      body.page article table td, body.page article table th {
        padding: 10px;
        text-align: center; }
      body.page article table tr td:first-child, body.page article table tr th:first-child {
        width: 110px;
        text-align: left; }
      body.page article table th {
        border-bottom: 2px solid #444;
        color: rgba(255, 255, 255, 0.3); }
      body.page article table td {
        border-bottom: 1px solid #333; }
      body.page article table tr:last-child td {
        border-bottom: none; }
  body.page .calendar {
    margin-bottom: 60px; }
    body.page .calendar h3 {
      margin-bottom: -0.2em;
      color: #FFF; }
      body.page .calendar h3 span {
        opacity: 0.2;
        letter-spacing: 0;
        font-weight: normal; }
    body.page .calendar .one-off h3 span {
      color: #00ca00;
      opacity: 1;
      font-weight: bold; }
    body.page .calendar .where {
      color: rgba(255, 255, 255, 0.5);
      font-style: italic;
      margin: 0; }
    body.page .calendar .when {
      color: rgba(255, 255, 255, 0.8);
      margin: 0 0 5px; }
    body.page .calendar .description {
      opacity: rgba(255, 255, 255, 0.8); }
      body.page .calendar .description p {
        font-size: 0.9em;
        margin-bottom: 5px; }

.instagram_container {
  text-align: center;
  padding: 40px 0; }
  .instagram_container h2 {
    font-family: 'Source Sans Pro', 'Helvetica Neue', sans-serif;
    padding: 30px 0 0 0;
    opacity: 0.2; }
  .instagram_container .instagram {
    list-style: none;
    margin-bottom: 50px;
    padding: 30px; }
    .instagram_container .instagram li {
      display: inline-block;
      margin: 0 20px 20px 0; }
      .instagram_container .instagram li a {
        line-height: 0;
        text-decoration: none;
        display: block;
        box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3); }
        .instagram_container .instagram li a:hover {
          box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.6); }
